<p id="notice"><%= notice %></p>

<h1>Card View</h1>

<% @tweets.each_slice(3) do |tweets_cards| %>
 <div class="card-deck">
<% tweets_cards.each do |tweet| %>
  <div class="card border-warning mb-3" style="max-width: 60rem;">
    <div class="card-header text-center text-capitalize">
      <h4><%= tweet.title %></h4>
    </div>
      <div class="card-body">
        <p><%= tweet.content %></p>
        <%= link_to 'Show', tweet, class: 'btn btn-success' %>
        <%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-success' %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
     </div>
 <% end %>
   </div>
<% end %>



<br>

<%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-warning btn-block'  %>
